$small-gutter: 1rem;
$large-gutter: 2rem;
$x-large-gutter: 3rem;

$row-full-width: 1300px;
$row-wide-width: 1024px;
$row-narrow-width: 800px;

%gutters--large,
.gutters--large {
  padding-left: $large-gutter;
  padding-right: $large-gutter;

  @include breakpoint(max-width get-breakpoint(tablet)) {
    padding-left: $small-gutter;
    padding-right: $small-gutter;
  }
}

%gutters--x-large,
.gutters--x-large {
  padding-left: $x-large-gutter;
  padding-right: $x-large-gutter;

  @include breakpoint(max-width get-breakpoint(tablet)) {
    padding-left: $large-gutter;
    padding-right: $large-gutter;
  }

  @include breakpoint(max-width get-breakpoint(phablet)) {
    padding-left: $small-gutter;
    padding-right: $small-gutter;
  }
}

%gutters--none,
.gutters--none {
  padding-left: 0;
  padding-right: 0;

  @include breakpoint(max-width ($row-narrow-width + 40px)) {
    padding-left: $small-gutter;
    padding-right: $small-gutter;
  }
}

%row,
.row {
  @extend %gutters--large;
  margin-left: auto;
  margin-right: auto;
  max-width: $row-full-width;
}

%row--wide,
.row--wide {
  max-width: $row-wide-width;
}

%row--narrow,
.row--narrow {
  max-width: $row-narrow-width;
}

%row--spread,
.row--spread {
  display: flex;
  flex-flow: row nowrap;

  > div {
    display: flex;
    flex: 1 0 auto;
    flex-flow: column nowrap;

    &:nth-child(1) {
      flex: 1 1 40%;
    }

    &:nth-child(2) {
      align-items: center;
    }

    &:last-child {
      align-items: flex-end;
    }
  }

  @include breakpoint(max-width get-breakpoint(tablet)) {
    display: block;

    > div {
      display: block;
      width: auto;
    }
  }
}
